
	.SessionStatusRed {
		color: red;
	}
	
	.SessionStatusNormal {
	}

	.input-wrap {
		padding: 5px;
		display: flex; }
		.input-wrap textarea {
		flex: 1;
		border: 0;
		border-bottom: 1px #387ef5;
		border-style: solid; 
	}

/* BUTTONS */


	/* Tweak to allow fab button to have text */
	.fab {
		contain: layout;
	}

	/* Tweak to allow fab button to have text */
    button[ion-fab] {
        overflow: visible;
        position: relative;

        ion-label {
            position: absolute;
            top: -8px;
            right: 40px;

            color: #fff;
            background-color:#4a148c;
            line-height: 24px;
            padding: 4px 8px;
			border-radius: 4px;
			box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        }
		
        button {
            position: absolute;
            top: -12px;
            right: 40px;

            color: #fff;
            background-color:#4a148c;
            line-height: 32px;
            padding: 4px 8px;
			border-radius: 4px;
			box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        }
		
        .fabdivbutton {
            position: absolute;
            top: 0px;
            right: 45px;

            color: #fff;
            background-color:#4a148c;
            line-height: 32px;
            padding: 4px 8px;
			border-radius: 4px;
			box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        }

	}
	
